<% provide(:title, 'Direct Message') %>
<h1>Direct Messages</h1>

<%= will_paginate %>
<ul class="messages">
  <%= render @messages %>
</ul>
<%= will_paginate %>

<br>

<%= link_to 'New Message', new_message_path %>
