<% provide(:title, 'Direct Message') %>
<h1>Direct Messages</h1>

<table class="table table-hover">
  <tbody>
    <tr>
      <td>
        Sender
      </td>
      <td>
        Recipient
      </td>
      <td>
        Message
      </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
    </tr>
    <%= render partial: 'message', collection: @messages %>
    <%= will_paginate @messages %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
